* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
}

.header {
  background: #FFF8F3;
  background-image: url(../images/header_bg.png), url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 52px 150px;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;

}

nav li {
  margin-left: 50px;
}

.style-button {
  height: 64px;
  /* width: 150px; */
  border-radius: 5px;
  border: 0;
  padding: 18px 36px;
  background: #FD6E0A;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
}

/* Header and navigation style */
.nav-title {
  font-weight: 800;
  font-size: 45px;
}

#primary-color {
  color: #FD6E0A;
}

/* banner-style */
.banner {
  display: flex;
  margin: 0 60px 0px 150px;
  align-items: center;

}

.banner-sub-title {
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 5px;
}

.banner-title {
  font-weight: 700;
  font-size: 85px;
  margin-bottom: 20px;
}

.banner-description {
  color: #757575;
  margin-bottom: 30px;
}

/* main section styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  margin-top: 130px;
}

/* about section styles */
.about {

  text-align: center;
  background: #FFF8F3;
  border-radius: 10px;
  /* height: 300px; */
  /* */
  padding: 120px 156px 132px 155px;
}

.section-title {
  text-align: center;
  margin-bottom: 60px;
  font-size: 35px;
  font-weight: 700;
}

.section-description {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
  /* margin-right: 26px; */

}

.about-info {
  /* margin-right: 20px; */
}

.about .info-title {
  font-size: 20px;
  color: #757575;
}

.info-description {
  color: #474747;
  font-weight: 700;
}

/* what i do section styles */
.what-i-do {}

.section-description-two {
  margin: 0 250px 50px 250px;
  text-align: center;

}

.skill-container {
  display: flex;
  gap: 24px;
}

.skills {

  background: #FFFFFF;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
}

.skill-title {
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.skill-description {
  color: #757575;
  font-size: 16px;

}

/* resume section style */
.resume-content-container {
  display: flex;
  gap: 29px;

}

.resume .title {
  color: #474747;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 10px;

}

.resume .subtitle {
  font-weight: 600;
  font-size: 20px;
  color: #757575;
  margin-bottom: 20px;
}

.resume .description {
  color: #757575;
  /* margin-top: 20px; */
}

.resume-item {
  margin-top: 20px;
  margin-bottom: 30px;
}

.resume-button {
  text-align: center;
  margin-top: 50px;
}

/* contact styles */
.contact-section .section-title {
  text-align: left;

}

.contact-section {
  display: flex;
  gap: 120px;
  background: #FFF8F3;
  padding: 120px 200px 120px 120px;
}

.contact-item {
  margin-left: 200px;
  width: 30%;
  padding-left: 120px;
  padding-right: 100px;
  /* margin-right: 70px; */
}

.form {
  display: block;
}

.My-form input[type="text"],
input[type="email"],
textarea {
  margin-bottom: 24px;
  border: 0;
  width: 100%;
  padding: 18px 30px;
}

.My-form input[type="text"],
input[type="email"] {
  height: 44px;
}

.contact-item p {
  margin-bottom: 15px;
}

.contact-item a {
  text-decoration: none;
}